<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>593364960484-71ce3j1hgg0hcfbadqaoshs7uih5cm36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593364960484-71ce3j1hgg0hcfbadqaoshs7uih5cm36</string>
	<key>API_KEY</key>
	<string>AIzaSyArwNA427jGHJ69MCnkNrEYYTF6UAAAhCE</string>
	<key>GCM_SENDER_ID</key>
	<string>593364960484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JimSu.HRM</string>
	<key>PROJECT_ID</key>
	<string>hrmanager-68f57</string>
	<key>STORAGE_BUCKET</key>
	<string>hrmanager-68f57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:593364960484:ios:b227dd91ec7e9353</string>
	<key>DATABASE_URL</key>
	<string>https://hrmanager-68f57.firebaseio.com</string>
</dict>
</plist>